.logo{
  height: 60px;
  width: auto;
  float: right;
}
ion-img{
  height: 60px;
  float: right;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content{
  margin: 10px;
}
ion-row{
  height: fit-content;
}
ion-button {
  --background: transparent; /* Make button background colorless */
  --color: rgb(250, 250, 250); /* Set text color to black or any color for the inactive state */
  border: none; /* Optional: add a border to make the button visible */
}

ion-button.active {
  --background: #3880ff; /* Set your active color here */
  --color: white; /* Set active text color, if needed */
  border: none; /* Optional: change border color for active state */
}
// .swiper {
//   width: 240px;
//   height: 320px;
// }

// .swiper-slide {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 18px;
//   font-size: 22px;
//   font-weight: bold;
//   color: #fff;
// }

// .swiper-slide:nth-child(1n) {
//   background-color: rgb(206, 17, 17);
// }

// .swiper-slide:nth-child(2n) {
//   background-color: rgb(0, 140, 255);
// }

// .swiper-slide:nth-child(3n) {
//   background-color: rgb(10, 184, 111);
// }

// .swiper-slide:nth-child(4n) {
//   background-color: rgb(211, 122, 7);
// }

// .swiper-slide:nth-child(5n) {
//   background-color: rgb(118, 163, 12);
// }

// .swiper-slide:nth-child(6n) {
//   background-color: rgb(180, 10, 47);
// }

// .swiper-slide:nth-child(7n) {
//   background-color: rgb(35, 99, 19);
// }

// .swiper-slide:nth-child(8n) {
//   background-color: rgb(0, 68, 255);
// }

// .swiper-slide:nth-child(9n) {
//   background-color: rgb(218, 12, 218);
// }

// .swiper-slide:nth-child(10n) {
//   background-color: rgb(54, 94, 77);
// }
ion-card {
  --background: #000;
  --color: #9efff0;
}

ion-card-title {
  --color: #52ffe4;
}

ion-card-subtitle {
  --color: #d1fff8;
}
ion-progress-bar{
  margin-bottom: 10px;
}
.avatar{
  position: absolute;
  display: flex;
  height: fit-content;
  top: 0;
  right: 0;
}
ion-avatar{
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
}
.card{
  height: 100px;
  width: 130px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
// ion-icon{
//   display: flex;
//   align-self: flex-start;
//   position: absolute;
// }
.icon{
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 5px;
  color: #3880ff;
}
.content{
  margin-bottom: 5px;
  margin-left: 30px;
  color: white;
}
.progress-container{
  width: 90px;
  display: flex;
  margin-left: 5px;
}